<mat-toolbar color="primary">
  <a fxHide="true" fxHide.gt-sm="false" href="/" class="logo">
    <img src="/assets/logo/satit_name.png">
  </a>

  <button mat-button [matMenuTriggerFor]="menu1">
    <mat-icon>account_balance</mat-icon>
    สถานที่สอบ
  </button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item disabled> <mat-icon>account_balance</mat-icon>อาคารสอบ</button>
    <button mat-menu-item disabled> <mat-icon>contacts</mat-icon>ห้องสอบ</button>
    <button mat-menu-item disabled> <mat-icon>people</mat-icon>กรรมการคุมสอบ</button>
    <button mat-menu-item disabled> <mat-icon>blur_linear</mat-icon>แผนผังที่นั่งสอบ</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu2">
    <mat-icon>face</mat-icon>
    นักเรียน
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item> <mat-icon>list</mat-icon>รายชื่อนักเรียน</button>
    <button mat-menu-item> <mat-icon>assignment_ind</mat-icon>บันทึกข้อมูลผู้สมัคร</button>
    <button mat-menu-item> <mat-icon>local_laundry_service</mat-icon>พิมพ์บัตรประจำตัวผู้สมัคร</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu3">
    <mat-icon>library_books</mat-icon>
    เอกสาร
  </button>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item disabled> <mat-icon>recent_actors</mat-icon>รายชื่อผู้สมัคร</button>
    <button mat-menu-item disabled> <mat-icon>people</mat-icon>รายชื่อกรรมการ</button>
    <button mat-menu-item disabled> <mat-icon>receipt</mat-icon>ข้อมูลสถานที่ศูนย์สอบ</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu4">
    <mat-icon>settings</mat-icon>
    การตั้งค่า
  </button>
  <mat-menu #menu4="matMenu">
    <button mat-menu-item> <mat-icon>event_note</mat-icon>ข้อมูลโรงเรียน</button>
    <button mat-menu-item> <mat-icon>cloud_upload</mat-icon>อัพโหลดหลักฐานการโอนเงิน</button>
  </mat-menu>

  <button mat-button>
    <mat-icon>collections_bookmark</mat-icon>
    คู่มือการใช้งาน
  </button>

  <span fxFlex></span>
  <span>{{school_name}}</span>


  <button mat-button (click)="gotoLoginPage()" style="font-size: 20px;">
    <mat-icon>lock</mat-icon>
    ออกจากระบบ
  </button>


</mat-toolbar>
<div class="wrapper" [class.wrapper-box]="boxedLayout">
  <!--  Route ไปหน้าต่างๆของเว็บไซต์ -->
  <router-outlet></router-outlet>
</div>
<div fxLayout="row" fxLayoutAlign="space-between stretch" style="background-color: #5a5a5a; padding-top: 2rem; padding-bottom: 1.8rem; color: white;">
  <div fxFlex="25" class="text-center">
    <img src="http://www.satit.nu.ac.th/2016/img/logo.png" width="100px" style="padding-left: 2rem;" />
  </div>
  <div fxFlex="25" style="color: white;">
    <h5>เว็บไซต์ที่เกี่ยวข้อง</h5>
    <a href="http://www.nu.ac.th" style="color: white;">มหาวิทยาลัยนเรศวร</a>
    <br />
    <a href="http://www.nu.ac.th" style="color: white;">คณะศึกษาศาสตร์</a>
    <br />
    <a href="http://www.nu.ac.th" style="color: white;">โรงเรียนมัธยมสาธิตมหาวิทยาลัยนเรศวร</a>
  </div>
  <div fxFlex="25">
    <h5>ติดต่อเรา</h5>
    โรงเรียนมัธยมสาธิตมหาวิทยาลัยนเรศวร
    <br /> เลขที่ 1 ถนนสนามบิน ตำบลในเมือง
    <br /> อำเภอเมือง จังหวัดพิษณุโลก 65000
    <br /> โทรศัพท์: 055-378-306 ถึง 310
    <br /> โทรสาร: 055-378-305

  </div>
</div>
<div class="text-center" style="background-color: #2e2e2e; padding-top: 1rem; padding-bottom: 1rem; color: white;">
  พัฒนาโดย งานระบบเทคโนโลยีสารสนเทศ ฝ่ายนโยบายและแผน โรงเรียนมัธยมสาธิตมหาวิทยาลัยนเรศวร @2018
</div>