<section>
  <article>
    <div fxLayout="row" fxLayoutAlign="center start">
      <div fxFlex="60">
        <mat-card>
          <mat-card-title>
            <h3>
              กำหนดกรรมการคุมสอบ
            </h3>
          </mat-card-title>
          <mat-card-subtitle>
            <p>
              ในการกำหนดกรรมการคุมสอบนั้น ท่านสามารถกำหนดได้ห้องละไม่เกิน 2 คน
            </p>
            <p>
              *กรุณาระบุข้อมูลให้ถูกต้อง และครบถ้วน
            </p>
          </mat-card-subtitle>
          <mat-card-content>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div fxFlex="50">
                <p>
                  อาคาร: {{ room.building_name }}
                </p>
              </div>
              <div fxFlex="50">
                <p>
                  ห้องสอบ: {{ room.room_name }}
                </p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div fxFlex="20">
                <p>
                  กรรมการท่านที่ 1:
                </p>
              </div>
              <div fxFlex="20">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="room.committee1_prename" placeholder="คำหน้านาม" />
                </mat-form-field>
              </div>
              <div fxFlex="30">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="room.committee1_firstname" placeholder="ชื่อ" />
                </mat-form-field>
              </div>
              <div fxFlex="30">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="room.committee1_lastname" placeholder="นามสกุล" />
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <div fxFlex="20">
                <p>
                  กรรมการท่านที่ 2:
                </p>
              </div>
              <div fxFlex="20">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="room.committee2_prename" placeholder="คำหน้านาม" />
                </mat-form-field>
              </div>
              <div fxFlex="30">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="room.committee2_firstname" placeholder="ชื่อ" />
                </mat-form-field>
              </div>
              <div fxFlex="30">
                <mat-form-field>
                  <input matInput type="text" [(ngModel)]="room.committee2_lastname" placeholder="นามสกุล" />
                </mat-form-field>
              </div>
            </div>
            <mat-divider></mat-divider>
            <br />
            <div fxLayout="row" fxLayoutAlign="end start">
                <button (click)="saveCommittee()" style="font-size: 18px;" mat-raised-button color="primary"><mat-icon>save</mat-icon> บันทึก</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </article>
</section>