<section>
    <header>
        <div class="text-center">
            <h3>
                .: ระบบจัดการข้อมูลโครงการ NUD Prep Test :.
            </h3>
        </div>
        <br />
    </header>
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <div fxFlex="33">
            <!-- การ์ด 2 -->
            <mat-card class="card-type-eighth">
                <mat-card-title-group>
                    <mat-card-title>
                        <img src="https://www.satit.nu.ac.th/NUDPreptestSystem/assets/dashboard-icon/users-group2.png" style="position: relative; top: 6px;"> ยอดการสมัครแต่ละระดับชั้น</mat-card-title>
                </mat-card-title-group>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div echarts [options]="lineChartOption" (chartInit)="chartInstances.push($event)" class="line-chart"></div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="33">
            <!-- การ์ด 3 -->
            <mat-card class="card-type-eighth">
                <mat-card-title-group>
                    <mat-card-title>
                        <img src="https://www.satit.nu.ac.th/NUDPreptestSystem/assets/dashboard-icon/team-leader2.png" style="position: relative; top: 6px;"> สัดส่วนนักเรียนที่สมัครแต่ละโรงเรียน</mat-card-title>
                </mat-card-title-group>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <div echarts [options]="nestedOption" (chartInit)="chartInstances.push($event)" class="chart"></div>
                    <mat-divider></mat-divider>
                    <div class="text-center primary-color-dark" style="font-size: 40px; padding-top: 35px;">
                        ยอดรวมผู้สมัครทั้งหมด {{ studentTotal }} คน
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="34">
            <!-- การ์ด 1 -->
            <mat-card class="card-type-eighth">
                <mat-card-title-group>
                    <mat-card-title>
                        <img src="https://www.satit.nu.ac.th/NUDPreptestSystem/assets/dashboard-icon/person-reading-at-the-office2.png" style="position: relative; top: 6px;"> ความจุที่นั่งสอบ</mat-card-title>
                </mat-card-title-group>
                <mat-card-subtitle>
                    โปรดระบุข้อมูลเกี่ยวกับสถานที่สอบโดยคลิกที่เมนูศูนย์สอบและสถานที่สอบ และเลือกที่สถานที่สอบ และเพิ่มห้องสอบที่ศูนย์สอบรองรับ
                </mat-card-subtitle>
                <mat-card-content>
                    <div fxLayout="column" *ngFor="let item of ratingItems;let i = index;">
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center" style="padding-top:12px;padding-bottom:10px;">
                            <div fxFlex="5">{{i+1}}</div>
                            <div fxFlex="35" class="text-left">
                                <strong>อาคารสอบ: </strong>
                                <span class="accent-color">{{item.name}}</span>
                                <br>
                                <strong>ห้องสอบ: </strong> {{item.tag}}
                            </div>
                            <mat-progress-bar [mode]="'determinate'" [value]="item.value"></mat-progress-bar>
                            <div fxFlex="7" class="text-right"> {{item.value}}/{{ item.capacity }} </div>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="text-center primary-color-dark" style="font-size: 40px; padding-top: 35px;">
                        ยอดรวมความจุที่นั่งสอบ {{ capacityTotal }} ที่นั่ง
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</section>