<div fxLayout="row" fxLayoutAlign="space-around start">
    <article>
        <div fxLayout="column" fxLayout.gt-md="row">
            <!-- คอลัม 1 -->
            <div fxFlex="1 0 auto" fxFlex.gt-md="60">
                <!-- การ์ด 1 -->
                <mat-card class="card-type-eighth">
                    <mat-card-title-group>
                        <mat-card-title><i class="fa fa-bookmark"></i> กระดานข่าวจากโครงการถึงศูนย์สอบ</mat-card-title>
                    </mat-card-title-group>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>
                                เพื่อให้นักเรียนระดับชั้นประถมศึกษาชั้นปีที่ 4 - 6 ได้ทดสอบความรู้ทางวิชาการของตนเองในรายวิชาพื้นฐาน 5 วิชาได้แก่ วิชาคณิตศาสตร์ วิชาวิทยาศาสตร์ วิชาภาษาไทย วิชาภาษาอังกฤษ และวิชาสังคมศึกษา ศาสนาและวัฒนธรรม
                                เพื่อเตรียมความพร้อมให้กับนักเรียนระดับชั้นประถมศึกษาตอนปลาย (ป.4-ป.6) โดยเฉพาะนักเรียนระดับชั้นประถมศึกษาชั้นปีที่ 6 ที่จะต้องเข้ารับการทดสอบระดับชาติ (O-Net) ทำให้นักเรียนทราบว่าความรู้ทางวิชาการในเรื่องใดที่จะต้องพัฒนา เพื่อให้ได้ผลคะแนนการทดสอบระดับชาติที่สูงขึ้น
                                เพื่อเตรียมความพร้อมให้กับนักเรียนระดับชั้นประถมศึกษาตอนปลาย (ป.4-ป.6) ได้ทดลองทำข้อสอบแนวการสอบเข้าศึกษาต่อระดับชั้นมัธยมศึกษาปีที่ 1 ต่อไป
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- คอลัม 2 -->
            <div fxFlex="1 0 auto" fxFlex.gt-md="40">
                <!-- การ์ด 1 -->
                <mat-card class="card-type-eighth">
                    <mat-card-title-group>
                        <mat-card-title>ความจุที่นั่งสอบ</mat-card-title>
                    </mat-card-title-group>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>เพื่อเตรียมความพร้อมให้กับนักเรียนระดับชั้นประถมศึกษาตอนปลาย (ป.4-ป.6) ได้ทดลองทำข้อสอบแนวการสอบเข้าศึกษาต่อระดับชั้นมัธยมศึกษาปีที่ 1 ต่อไปเพื่อเตรียมความพร้อมให้กับนักเรียนระดับชั้นประถมศึกษาตอนปลาย (ป.4-ป.6) ได้ทดลองทำข้อสอบแนวการสอบเข้าศึกษาต่อระดับชั้นมัธยมศึกษาปีที่ 1 ต่อไป
                        </p>
                    </mat-card-content>
                </mat-card>
                <!-- การ์ด 2 -->
                <mat-card class="card-type-eighth">
                    <mat-card-title-group>
                        <mat-card-title>ยอดการสมัครแต่ละระดับชั้น</mat-card-title>
                    </mat-card-title-group>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>เพื่อเตรียมความพร้อมให้กับนักเรียนระดับชั้นประถมศึกษาตอนปลาย (ป.4-ป.6) ได้ทดลองทำข้อสอบแนวการสอบเข้าศึกษาต่อระดับชั้นมัธยมศึกษาปีที่ 1 ต่อไปเพื่อเตรียมความพร้อมให้กับนักเรียนระดับชั้นประถมศึกษาตอนปลาย (ป.4-ป.6) ได้ทดลองทำข้อสอบแนวการสอบเข้าศึกษาต่อระดับชั้นมัธยมศึกษาปีที่ 1 ต่อไป
                        </p>
                    </mat-card-content>
                </mat-card>
                <!-- การ์ด 3 -->
                <mat-card class="card-type-eighth">
                    <mat-card-title-group>
                        <mat-card-title>ยอดนักเรียนภายนอกและภายใน</mat-card-title>
                    </mat-card-title-group>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>เพื่อเตรียมความพร้อมให้กับนักเรียนระดับชั้นประถมศึกษาตอนปลาย (ป.4-ป.6) ได้ทดลองทำข้อสอบแนวการสอบเข้าศึกษาต่อระดับชั้นมัธยมศึกษาปีที่ 1 ต่อไป
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </article>
</div>