<h4 mat-dialog-title style="font-size: 30px;"><mat-icon style="position: relative; top: 5px;">delete</mat-icon> การห้องสอบ</h4>

<div mat-dialog-content>คุณต้องการลบห้องสอบ <strong> {{ roomName }} </strong> อาคาร <strong> {{ buildingName }}</strong> ออกจากระบบหรือไม่</div>
<br />
<mat-divider></mat-divider>
<div mat-dialog-actions class="dialog-example-buttons" fxLayout="row" fxLayoutAlign="end center">
  
  <button style="font-size: 20px;" color="warn" mat-raised-button (click)="dialogRef.close('YES')"><mat-icon>delete</mat-icon> ยืนยัน</button>
  <button style="font-size: 20px;" mat-raised-button  (click)="dialogRef.close('NO')"><mat-icon>cancel</mat-icon> ยกเลิก</button>
</div>
