@import "../../../styles/mixins";

section {
  width: 100%;
  height: 100%;
  background: url('/assets/custom-pages/Artboard 2LOGIN.jpg') no-repeat center;
  background-size: cover;
  .mat-card {
    width: 300px;
    padding: 20px 50px;
    position: absolute;
    top:50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    @media screen and (max-width: 600px){
      width: 200px;
    }
  }
}
