<section>
  <article>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex></div>
      <div fxFlex="65" style="padding-left: 10px;">
        <h4>รายการอาคารสอบ</h4>
      </div>
      <div fxFlex></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex></div>
      <div fxFlex="65">
        <mat-card>
          <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex>
                <h5 *ngIf="action == 'create'">แบบฟอร์มเพิ่มข้อมูลห้องสอบ</h5>
                <h5 *ngIf="action == 'edit'">แบบฟอร์มแก้ไขข้อมูลห้องสอบ</h5>
              </div>
              <div fxFlex class="text-right;" style="text-align: right;">
                <!-- <button routerLink="/Building/NewBuilding" mat-raised-button color="primary" style="font-size: 20px;">
                  <mat-icon>add_circle</mat-icon> เพิ่มอาคารสอบ</button> -->
              </div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
              <mat-form-field fxFlex="25">
                <label for="buildingName">ชื่ออาคาร*</label>
                <input required [(ngModel)]="buildingName" matInput id="buildingName" style="width: 100%;" type="text">
              </mat-form-field>
              <mat-form-field fxFlex="25">
                <label for="roomName">ห้องสอบ*</label>
                <input required [(ngModel)]="roomName" matInput id="roomName" style="width: 100%;" type="text">
              </mat-form-field>
              <mat-form-field fxFlex="25">
                <label for="roomCapacity">ความจุที่นั่งสอบ*</label>
                <input required [(ngModel)]="roomCapacity" matInput id="roomCapacity" style="width: 100%;" type="number">
                <mat-hint>กรอกเฉพาะตัวเลขเท่านั้น</mat-hint>
              </mat-form-field>
              <mat-form-field fxFlex="25">
                <label for="roomType">ประเภทห้องสอบ*</label>
                <mat-select required [(ngModel)]="roomType" id="roomType" >
                  <mat-option value="0">ผสมระดับชั้น</mat-option>
                  <mat-option value="4">เฉพาะระดับชั้น ป.4 เท่านั้น</mat-option>
                  <mat-option value="5">เฉพาะระดับชั้น ป.5 เท่านั้น</mat-option>
                  <mat-option value="6">เฉพาะระดับชั้น ป.6 เท่านั้น</mat-option>
                </mat-select>
                <mat-hint>ใช้ในการประมวลผลการจัดห้องสอบ</mat-hint>
                <!-- <input matInput id="buildingName" style="width: 100%;" name="buildingName" type="text"> -->
              </mat-form-field>
            </div>
            <br />
            <div fxLayout="row" fxLayoutAlign="end">
              <button style="font-size: 20px;" *ngIf="action == 'create'" (click)="createNewRoom()" mat-raised-button color="primary"><mat-icon>save</mat-icon> บันทึก</button>
              <button style="font-size: 20px;" *ngIf="action == 'edit'" (click)="editRoom()" mat-raised-button color="primary"><mat-icon>edit</mat-icon> แก้ข้อมูล</button>
              <button routerLink="/Building" style="margin-left: 25px; font-size: 20px;" (click)="createNewRoom()" mat-raised-button color="warn"><mat-icon>cancel</mat-icon> ยกเลิก</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex></div>
    </div>
  </article>
</section>