<section>
  <div fxLayout="row" fxLayoutAlign="space-around start">
    <div fxFlex="80">
      <h4>รายชื่อนักเรียน</h4>
    </div>
  </div>
  <article>
    <div fxLayout="row" fxLayoutAlign="space-around start">
      <div fxFlex="80">
        <mat-card>
          <mat-card-title>
            <div fxLayout="row" fxLayoutAlign="space-between start">
              <span fxFlex>ตารางรายชื่อนักเรียน</span>
              <span fxFlex></span>
              <span style="text-align: right;">
                <button routerLink="/Students/createStudent" style="font-size: 20px;" (click)="updateSchoolInfo()" fxLayout mat-raised-button color="primary">
                  <mat-icon>add</mat-icon> เพิ่มนักเรียน
                </button>
              </span>
            </div>
            <br />
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <table style="width: 100%;">
              <thead>
                <tr>
                  <td class="head-table">ลำดับ</td>
                  <td class="head-table">เลขประจำตัวประชาชน</td>
                  <td class="head-table" colspan="2">ชื่อ - นามสกุล</td>
                  <td class="head-table">ระดับชั้น</td>
                  <td class="head-table">ห้อง</td>
                  <td class="head-table">เลขที่</td>
                  <td class="head-table">โรงเรียน</td>
                  <td class="head-table">หมายเลขโทรศัพท์</td>
                  <td class="head-table">แก้ไข</td>
                  <td class="head-table">ลบ</td>
                </tr>
              </thead>
              <tr *ngFor="let student of studentList; let i = index;">
                <td>{{ (i + 1) }}</td>
                <td>{{ student.prename }}{{ student.firstname }}</td>
                <td>{{ student.lastname }}</td>
                <td>{{ student.level }}</td>
                <td>{{ student.room }}</td>
                <td>{{ student.number }}</td>
                <td>{{ student.school_name }}</td>
                <td>{{ student.phone }}</td>
                <td>แก้ไข</td>
                <td>ลบ</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </article>
</section>